doctype html
html(class="no-js" lang="ru")

    include ../components/head/head.pug
    include ../components/card/card.pug
    include ../components/page/__title/page__title.pug
    include ../components/footer/footer.pug

    head
        +head(head.index)
    body.page
        main.page__container
            +page__title({
                title: 'Voluptatem illo assumenda'
            })
            section.cards
                +card({
                    image: '__static__img/content/item-1.png',
                    block: 'cards'
                })
                +card({
                    image: '__static__img/content/item-2.png',
                    block: 'cards'
                })
                +card({
                    image: '__static__img/content/item-3.png',
                    block: 'cards',
                    reverse: true
                })
                +card({
                    image: '__static__img/content/item-4.png',
                    block: 'cards',
                    reverse: true
                })

        +footer()

        |%=symbols=%
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        //- script(src='%=static=%js/main%=hash=%%=min=%.js')
