doctype html
html(class="no-js" lang="ru")

    include ../components/head/head.pug
    include ../components/card/card.pug
    include ../components/page/__title/page__title.pug
    include ../components/form/__control/form__control.pug
    include ../components/footer/footer.pug

    head
        +head(head.index)
    body.page
        main
            section.cards.page__container
                +page__title({
                    title: 'Voluptatem illo assumenda'
                })

                +card({
                    image: '__static__img/content/item-1.png',
                    block: 'cards'
                })
                +card({
                    image: '__static__img/content/item-2.png',
                    block: 'cards'
                })
                +card({
                    image: '__static__img/content/item-3.png',
                    block: 'cards',
                    reverse: true
                })
                +card({
                    image: '__static__img/content/item-4.png',
                    block: 'cards',
                    reverse: true
                })

            section.card-info.page__container.page__container_cards
                +page__title({
                    title: 'Voluptatem illo assumenda',
                    class: 'page__title_cards card-info__title'
                })

                article.card-info__description
                    h2.card-info__options
                        span.card-info__options-span
                            | Start:
                        | october 29

                    h3.card-info__options
                        span.card-info__options-span
                            | Remained:
                        | 15 seats

                    p.card-info__text
                        | Qui eos a quia dolorem sapiente deserunt ut expedita sunt. Quia perspiciatis quo excepturi id dolor voluptatem aut adipisci.

                .card-info__pricing
                    p.card-info__pricing-title
                        | Labore qui et animi.
                    .card-info__price-wrap
                        h4.card-info__price
                            | 325 900 ₽
                            span.card-info__price-span
                                | per month
                        .card-info__discount
                            span.card-info__discount-span
                                | -40%
                            | until 28 december
                    h5.card-info__without-discount
                        | installment plan without discount
                        span.card-info__without-discount-span
                            | 5000 ₽/month

                form(action="#").form.card-info__form
                    +form__control({
                        placeholder: 'Your email',
                        type: 'email'
                    })
                    +form__control({
                        placeholder: 'Your phone'
                    })
                    +form__control({
                        placeholder: 'Your name'
                    })
                    button(type="submit").form__btn
                        | Subscribe

        +footer()

        |%=symbols=%
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        //- script(src='%=static=%js/main%=hash=%%=min=%.js')
