.card-info__discount {
    font-size: 8px;
    line-height: 140%;
    min-height: 56px;
    min-width: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FEF653;
    padding: 10px 20px;
    box-sizing: border-box;
}
