.card-info__discount-span {
    font: 400 14px/140% $space-grotesk;
    text-transform: uppercase;
    color: $dark-color;
    margin: 0 0 5px;

    @include media-min(tablet) {
        font-size: 16px;
    }

    @include media-min(desktop) {
        font-size: 20px;
        font-weight: 500;
    }
}
